# Mode de simulació (Estableix a False per connectar realment a Microsoft Fabric)
MOCK_MODE=True

# Configuració del SQL Endpoint de Microsoft Fabric
# Trobaràs el SQL connection string a la configuració del teu Lakehouse o Warehouse de Fabric.
FABRIC_SERVER=el-teu-sql-endpoint.datawarehouse.fabric.microsoft.com
FABRIC_DATABASE=nom_del_teu_lakehouse_o_warehouse
FABRIC_TABLE=nom_de_la_teva_taula_delta

# Columnes geogràfiques i de valor
LAT_COLUMN=latitude
LON_COLUMN=longitude
VAL_COLUMN=intensity  # Columna opcional per donar pes al mapa de calor, si no existeix es posarà pes 1.0

# Opcions d'autenticació (Triar una de les dues opcions següents)

# Opció A: Autenticació d'usuari d'Entra ID (Active Directory)
FABRIC_USER=usuari@teudomini.com
FABRIC_PASSWORD=la_teva_contrasenya

# Opció B: Autenticació per Service Principal (Recomanat per a servidors de producció)
FABRIC_CLIENT_ID=el-teu-service-principal-client-id
FABRIC_CLIENT_SECRET=la-teva-client-secret
FABRIC_TENANT_ID=el-teu-tenant-id
